 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/d2a60b48/3949495/images/3949506-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-text-1 {
  width: 647px;
  margin: 60px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
  height: 325px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-16 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-17 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-18 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-19 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-20 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-21 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-22 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-23 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-24 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-25 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-26 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-27 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-28 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-29 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-30 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-31 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-32 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-33 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-34 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-35 {
  border-style: dotted;
}

.u-block-c61a-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}