 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/d2a60b48/3949495/images/3949506-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-list-1 {
  height: auto;
  margin: 63px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 562px;
  grid-auto-columns: calc(50% - 5px);
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-1 .u-image-1 {
  width: 253px;
  height: 242px;
  margin: 25px auto 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -232px 85px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 44px 0 300px;
}

.u-section-1 .u-text-3 {
  font-size: 1.6875rem;
  margin: 30px 44px 0 300px;
}

.u-section-1 .u-text-4 {
  font-size: 1.6875rem;
  margin: 25px 25px 0 auto;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-1 .u-image-2 {
  width: 253px;
  height: 242px;
  margin: 25px auto 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: -232px 85px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 19px 44px 0 300px;
}

.u-section-1 .u-text-7 {
  font-size: 1.6875rem;
  margin: 30px 44px 0 300px;
}

.u-section-1 .u-text-8 {
  font-size: 1.6875rem;
  margin: 25px 25px 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 0;
}

.u-section-1 .u-image-3 {
  width: 253px;
  height: 242px;
  margin: 25px auto 0 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: -232px 85px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 19px 44px 0 300px;
}

.u-section-1 .u-text-11 {
  font-size: 1.6875rem;
  margin: 30px 44px 0 300px;
}

.u-section-1 .u-text-12 {
  font-size: 1.6875rem;
  margin: 25px 25px 0 auto;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 5px 0;
}

.u-section-1 .u-image-4 {
  width: 253px;
  height: 242px;
  margin: 25px auto 0 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: -232px 85px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  margin: 19px 44px 0 300px;
}

.u-section-1 .u-text-15 {
  font-size: 1.6875rem;
  margin: 30px 44px 0 300px;
}

.u-section-1 .u-text-16 {
  font-size: 1.6875rem;
  margin: 25px 25px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 464px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 179px;
    margin-top: 334px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -299px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 121px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-3 {
    font-weight: 400;
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -55px;
    font-weight: 400;
  }

  .u-section-1 .u-image-2 {
    width: 216px;
    height: 179px;
    margin-top: 334px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -299px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 121px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-7 {
    font-weight: 400;
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -55px;
    font-weight: 400;
  }

  .u-section-1 .u-image-3 {
    width: 216px;
    height: 179px;
    margin-top: 334px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -299px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 121px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-11 {
    font-weight: 400;
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -55px;
    font-weight: 400;
  }

  .u-section-1 .u-image-4 {
    width: 216px;
    height: 179px;
    margin-top: 334px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -299px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 121px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-15 {
    font-weight: 400;
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -55px;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 156px;
    margin-top: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 128px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-2 {
    width: 156px;
    margin-top: 91px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 128px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-3 {
    width: 156px;
    margin-top: 91px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 128px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-4 {
    width: 156px;
    margin-top: 91px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 128px;
    margin-right: 1px;
  }
}